*.exe
*.swp
*.swo
/src/*.o
*.dSYM/*
tags
/frames
/mov*
/*.txt
/*.dat
/*.xyz
/data
*ipynb_checkpoints
.DS_Store
bin
obj
*.posit
*.diffusion
*.filament
*.thermo
*.mse2e
*.error
*.theta
*.spec
*.checkpoint
*.spiral
*.global_order
/*_params.yaml
*.log
*.time
*.overlaps
*.orientation_corr
sc-*
results
octave-workspace
nohup.out
*.tar.gz
*.local_*
*.density
*.structure
*.crossing
*.polar_order
*.polar_order_avg
*.flock
*.in_out
*.mov
*.hr
build*
201*
!CMake*
*__pycache__*
