*.swp
/simcore
/simcore_config
/src/*.o
*.dSYM/*
tags
/frames
/mov*
/*.txt
/*.dat
/*.xyz
/data
*ipynb_checkpoints
.DS_Store
bin
obj
*.posit
*.diffusion
*.filament
*.thermo
*.mse2e
*.theta
*.spec
*.checkpoint
*.spiral
*.global_order
/*_params.yaml
*.log
*.time
sc-*
results
octave-workspace
nohup.out
*.tar.gz
*.local_*
