---
language: cpp

services:
  - docker

before_script:
  - docker build -f docker/Dockerfile_base -t jeffmm/simcore_base docker

# Tests are handled during Docker image build
script:
  - docker build -t jeffmm/simcore docker
...
